.wy-side-nav-search {
    border: 1p solid #F00 !important;
    background-color: #4d2666 !important;
}

.red {
    color: #e24759;
    font-weight: bold;
}

.orange {
    color: #f68f37;
    font-weight: bold;
}

.green {
    color: #33b358;
    font-weight: bold;
}

.purple {
    color: #616eb2;
    font-weight: bold;
}

.blue {
    color: #08b1e6;
    font-weight: bold;
}
