/* override table width restrictions */
@media screen and (min-width: 767px) {
  .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
  }

  .wy-table-responsive {
    overflow: visible !important;
  }
}


/* improvements to theme's odd table defaults */
table.docutils th {
  padding: 6px 8px !important;
  min-height: unset !important;
}

table.docutils th p {
  line-height: 1.2em !important;
  font-weight: normal !important;
  font-size: 1em !important;
  font-style: oblique;
  margin: 0 !important;
  color: #404040 !important;
}
table.docutils td {
  padding: 6px 8px !important;
}
table.docutils td p {
  line-height: 1.2em !important;
}
ul.simple {
    padding-left: 20px !important;
    list-style: disc !important;
}
ul.simple li {
    list-style: disc !important;
}
ul.simple li ul {
    padding-left: 30px !important;
    list-style: square !important;
}
ul.simple li ul li {
    list-style: square !important;
}
ul.simple li ul li ul{
    padding-left: 40px !important;
    list-style: circle !important;
}
ul.simple li ul li ul li{
    list-style: circle !important;
}

/* funding table style overrides */
table.funding-table {
    width: 100%;
}
table.funding-table tr:not(:first-child) td {
    border-width: 0 !important;
    background-color: transparent !important;
}
